{% extends 'app/base.html' %}
{% load static %}

{% block signup %}
<form action="" method="post" novalidate>
{% csrf_token %}
{% for fm in signupform  %}
{{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
{% endfor %}
<input type="submit" value="Submit" class="btn btn-danger">
</form>
{% if messages %}
{% for message in messages %}
<small {% if messages.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
{% endfor %}
{% endif %}
<a href="{% url 'login' %}">Login</a>
{% endblock signup %}